@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: #2e4255;
}

p {
    text-align: justify;
}

#legenda {
    text-align: center;
}

.title {
    color: #3D3D3D;
    background-color: #E1EDF2;
}

.sub-title {
    border-bottom: 2px solid #3D3D3D;
}

figure {
    text-align: center;
    background-color: whitesmoke;
    color: lightgray;
    padding: 10px;
    border-radius: 10px;
}

figcaption {
    margin-top: 5px;
    color: #3D3D3D;
}


/*Index*/
.header__index {
    background-color: #2D5377;
    width: 100%;
    color: #FFF;
    padding: 10px 0;
}

.link-class {
    color: #FFF;
    text-decoration: none;
}

.link-class:hover {
    text-decoration: underline;
}


nav .menu__index {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.body__index {
    font-family: 'Montserrat', sans-serif;
    color: #2e4255;
}


/*Sobre*/
.matriz {
    width: 550px;
    margin: 0 auto;
}

.matriz img {
    width: 100%;
    height: auto;
}

.familia {
    width: 275px;
    float: right;
    margin: 0 0 10px 10px;
}

.familia img {
    width: 100%;
    height: auto;
}